* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #2C2F33;
}

.wrapper {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.wrapper h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}

.form-wrapper {
  border: 1px solid #fff;
  padding: 0 30px 30px 30px;
}

.form-wrapper label {
  display: inline-block;
  color: #fff;
  margin-bottom: 5px;
}

.form-wrapper input {
  width: 100%;
  border: none;
  outline: none;
  height: 30px;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

.btn {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.error {
  color: red;
}